body {
    margin: 0;
}

@font-face {
    font-family: receiptFonts;
    src: url(../fonts/fake-receipt.ttf);
}

.mainHeader {
    text-align: center;
    margin: 0.5em;
    font-size: 3em;
}

.shoppingListContainer {


    width: 40em;
    height: 30em;
    margin: 0 auto;
    border: 1px solid black;


    .receipt{
        width: 40em;
        height: 30em;
        background-color: lightgreen;
        display: none;
        font-family: receiptFonts, Serif;

        .receiptHeader{
            text-align: center;
            font-size: 2.5em;
        }

        .receiptTableHeaders{
            padding-left: 2em;
            width: 11em;
            height: 2em;
            text-align: left;        
        }

        .receiptTable td{
            padding-left: 2em;
            width: 11em;
            height: 2em;
            text-align: left;  
        }

        .receiptTotals{
            text-align: center;
            /* width: 25em; */
            /* height: 0em; */
            margin: 0 auto;

        }

        .receiptTotals p{
            margin-top: 1em;

        }


    }

    .itemInput {
        width: 35em;
        height: 6em;
        margin: 0 auto;
        border-bottom: 1px solid black;
        th {
            width: 7em;
            height: 1em;
        }
        td {
            width: 10em;
            height: 1em;
            padding-left: 1.5em;
        }
        input[type="text"],
        input[type="number"] {
            width: 12em;
            height: 1.5em;
            text-align: center;
        }
        input[type=number]::-webkit-inner-spin-button,
        input[type=number]::-webkit-outer-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }
        .submitButton {
            margin: 1em 0em 0em 21.5em;
            width: 8em;
            height: 2.5em;
            border-radius: 2px;
            border: 0;
            cursor: pointer;
        }

        .maxItemMessage{
            display: none;
            text-align: center;
        }
    }

    .itemList{

		.itemContainer {
	        height: 3em;
	        width: 35em;
	        background-color: red;
	        margin: 1em auto;
	        border: lightgrey solid 1px;
	        border-radius: 3px;
	        .itemText {
	            width: 28em;
	            height: 2em;
	            float: left;
	            margin: 0.5em 0em 0em 0em;
	            line-height: 2em;
	            font-size: 0.9em;
	            overflow: scroll;
	        }
	        span {
	            margin: 0em 1em 0em 0em;
	        }
	        .itemCheckbox {
	            float: left;
	            width: 4em;
	            height: 4em;
	            margin: 0em 0em 0em 2em;
	            cursor: pointer;
	        }
	        .deleteButton {
	            margin: 1em 0em 0em 0em;
	            width: 6em;
	            height: 2em;
	            border-radius: 2px;
	            border: 0;
	            cursor: pointer;
	            background-color: red;
	        }
	    }


    }
}

footer{
    width: 40em;
    height: 5em;
    margin: 0 auto;

    .checkoutButton, .restartButton{
        margin: 2em 0em 0em 24em;
        width: 9em;
        height: 3em;
        border-radius: 2px;
        border: 0;
        cursor: pointer;
        background-color: lightgrey;
        display: none
    }

    .restartButton{
        display: none;
    }

    .checkoutMessage{
        text-align: center;
    }
}
