body {
  margin: 0; }

@font-face {
  font-family: receiptFonts;
  src: url(../fonts/fake-receipt.ttf); }

html {
  height: 100%;
  background: url("../../images/shoppingListBackground-s.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }

.mainHeader {
  text-align: center;
  margin: 0.5em;
  font-size: 1.5em; }

.shoppingListContainer {
  margin: 0 auto;
  border: 1px solid black;
  width: 19em; }
  .shoppingListContainer .receipt {
    width: 100%;
    height: 100%;
    background-color: lightgreen;
    display: none;
    font-family: receiptFonts, Serif; }
    .shoppingListContainer .receipt .receiptHeader {
      text-align: center;
      font-size: 1.3em; }
    .shoppingListContainer .receipt .receiptTableHeaders {
      padding-left: 1em;
      width: 11em;
      height: 2em;
      font-size: 0.75em;
      text-align: left; }
    .shoppingListContainer .receipt .receiptTable td {
      padding-left: 1em;
      width: 11em;
      height: 2em;
      text-align: left;
      font-size: 0.9em; }
      .shoppingListContainer .receipt .receiptTable td div {
        width: 4em;
        height: 1em;
        overflow-x: scroll; }
    .shoppingListContainer .receipt .receiptTable .receiptBody tr td:nth-child(2) {
      padding-left: 3em; }
    .shoppingListContainer .receipt .receiptTable .receiptBody tr td:nth-child(3) {
      padding-left: 2em; }
    .shoppingListContainer .receipt .receiptTotals {
      text-align: center;
      /* width: 25em; */
      /* height: 0em; */
      margin: 0 auto; }
    .shoppingListContainer .receipt .receiptTotals p {
      margin-top: 1em;
      font-size: 0.9em; }
  .shoppingListContainer .itemInput {
    height: 6em;
    margin: 0 auto;
    border-bottom: 1px solid black; }
    .shoppingListContainer .itemInput .maxItemMessage {
      display: block;
      font-size: 0.8em;
      width: 10em;
      height: 1.5em;
      line-height: 1.5em;
      margin: 0 auto;
      margin-top: 1.25em;
      background-color: white;
      border: 1px solid black; }
    .shoppingListContainer .itemInput th {
      width: 10em;
      height: 1em;
      font-size: 0.7em; }
    .shoppingListContainer .itemInput td {
      padding: 0; }
    .shoppingListContainer .itemInput input[type="text"],
    .shoppingListContainer .itemInput input[type="number"] {
      width: 98%;
      height: 1.7em;
      text-align: center;
      padding: 0;
      border: 1px solid black; }
    .shoppingListContainer .itemInput input[type=number]::-webkit-inner-spin-button,
    .shoppingListContainer .itemInput input[type=number]::-webkit-outer-spin-button {
      -webkit-appearance: none;
      margin: 0; }
    .shoppingListContainer .itemInput input[type="number"]:focus,
    .shoppingListContainer .itemInput input[type="text"]:focus {
      outline: 0; }
    .shoppingListContainer .itemInput .submitButton {
      background-color: black;
      color: lightgrey;
      width: 8em;
      height: 2.5em;
      border-radius: 2px;
      border: 0;
      cursor: pointer;
      display: block;
      margin: 0 auto;
      margin-top: 1em;
      font-size: 0.6em;
      transition: all linear 0.5s; }
    .shoppingListContainer .itemInput .submitButton:hover {
      color: white;
      background-color: blue; }
    .shoppingListContainer .itemInput .submitButton:active {
      border: 1px green solid; }
    .shoppingListContainer .itemInput .maxItemMessage {
      display: none;
      text-align: center; }
  .shoppingListContainer .itemList .itemContainer {
    height: 3em;
    width: 18em;
    background-color: white;
    margin: 1em auto;
    border: black solid 1px;
    border-radius: 3px; }
    .shoppingListContainer .itemList .itemContainer .itemText {
      width: 18em;
      height: 3em;
      float: left;
      overflow-x: scroll;
      margin: 1.1em 0em 0em 2em;
      line-height: 3em;
      font-size: 0.6em; }
    .shoppingListContainer .itemList .itemContainer span {
      margin: 0em 1em 0em 0em; }
    .shoppingListContainer .itemList .itemContainer .itemCheckbox {
      float: left;
      width: 1em;
      height: 1em;
      margin: 1.75em 0em 0em 1em;
      cursor: pointer; }
    .shoppingListContainer .itemList .itemContainer .deleteButton {
      cursor: pointer;
      margin: 1em 0em 0em 2.5em; }

footer .checkoutButton,
footer .restartButton {
  margin: 2em auto;
  width: 10em;
  height: 3em;
  font-size: 0.5em;
  border-radius: 2px;
  border: 0;
  cursor: pointer;
  background-color: black;
  color: lightgrey;
  display: none;
  transition: all 0.5s linear; }

footer .checkoutButton:hover,
footer .restartButton:hover {
  background-color: #FF3F34;
  color: white; }

footer .checkoutMessage {
  text-align: center;
  font-size: 0.75em;
  width: 23em;
  margin: 0 auto;
  background-color: white;
  height: 1.5em;
  line-height: 1.5em;
  margin-top: 1em;
  border: 1px solid black; }

@media only screen and (min-width: 650px) {
  html {
    background: url("../../images/shoppingListBackground-m.jpg") no-repeat center center fixed; }
  .mainHeader {
    font-size: 2em; }
  .shoppingListContainer {
    width: 35em; }
    .shoppingListContainer .receipt .receiptHeader {
      font-size: 1.75em; }
    .shoppingListContainer .receipt .receiptTable td {
      padding-left: 3em; }
    .shoppingListContainer .receipt .receiptTable .receiptTableHeaders {
      font-size: 1.05em;
      padding-left: 2.5em; }
    .shoppingListContainer .receipt .receiptTable .receiptBody tr td:nth-child(2),
    .shoppingListContainer .receipt .receiptTable .receiptBody tr td:nth-child(3) {
      padding-left: 5em; }
    .shoppingListContainer .receipt .receiptTotals p {
      font-size: 1.1em; }
    .shoppingListContainer .itemInput {
      height: 7em; }
      .shoppingListContainer .itemInput .maxItemMessage {
        font-size: 1em;
        margin-top: 1em; }
      .shoppingListContainer .itemInput th {
        width: 12em;
        font-size: 1em; }
      .shoppingListContainer .itemInput .submitButton {
        margin-top: 1.2em;
        font-size: 0.7em;
        width: 10em; }
      .shoppingListContainer .itemInput .inputTable .maxItemMessage {
        font-size: 1.2em; }
    .shoppingListContainer .itemInput input[type="number"],
    .shoppingListContainer .itemInput input[type="text"] {
      width: 14em;
      height: 2em;
      display: block;
      margin: 0 auto; }
    .shoppingListContainer .itemList .itemContainer {
      width: 25em; }
      .shoppingListContainer .itemList .itemContainer .deleteButton {
        margin: 0.65em 0em 0em 1em;
        font-size: 1.3em; }
      .shoppingListContainer .itemList .itemContainer .itemText {
        margin: 0.3em 0em 0em 3em;
        font-size: 0.85em;
        width: 20em; }
      .shoppingListContainer .itemList .itemContainer .itemCheckbox {
        margin: 1.5em 0em 0em 1em;
        width: 1.25em;
        height: 1.25em; }
  footer .checkoutButton,
  footer .restartButton {
    font-size: 0.75em; }
  footer .checkoutMessage {
    font-size: 1em; } }

@media only screen and (min-width: 900px) {
  html {
    background: url("../../images/shoppingListBackground-l.jpg") no-repeat center center fixed; }
  .mainHeader {
    font-size: 3em; }
  .shoppingListContainer {
    width: 48em; }
    .shoppingListContainer .receipt .receiptTable {
      margin-left: 3em; }
      .shoppingListContainer .receipt .receiptTable td {
        width: 20em;
        font-size: 1.2em;
        padding-left: 2.5em; }
      .shoppingListContainer .receipt .receiptTable .receiptTableHeaders {
        font-size: 1.3em;
        padding-left: 2.5em; }
      .shoppingListContainer .receipt .receiptTable .receiptTableHeaders:nth-child(2),
      .shoppingListContainer .receipt .receiptTable .receiptTableHeaders:nth-child(3) {
        padding-left: 4em; }
      .shoppingListContainer .receipt .receiptTable .receiptBody tr td:nth-child(2),
      .shoppingListContainer .receipt .receiptTable .receiptBody tr td:nth-child(3) {
        padding-left: 7em; }
    .shoppingListContainer .receipt .receiptHeader {
      font-size: 2.25em; }
    .shoppingListContainer .receipt .receiptTotals p {
      font-size: 1.25em; }
    .shoppingListContainer .itemInput {
      width: 48em;
      height: 8em; }
      .shoppingListContainer .itemInput .maxItemMessage {
        font-size: 1.2em; }
      .shoppingListContainer .itemInput th {
        font-size: 1.25em;
        width: 13em; }
      .shoppingListContainer .itemInput .submitButton {
        height: 2.75em;
        font-size: 0.75em;
        margin-top: 1.5em; }
      .shoppingListContainer .itemInput .inputTable .maxItemMessage {
        font-size: 1.4em; }
    .shoppingListContainer .itemInput input[type="number"],
    .shoppingListContainer .itemInput input[type="text"] {
      width: 16em;
      margin-left: 3em;
      height: 2em; }
    .shoppingListContainer .itemList .itemContainer {
      width: 36em; }
      .shoppingListContainer .itemList .itemContainer .deleteButton {
        margin: 0.5em 0em 0em 0.5em;
        font-size: 1.5em; }
      .shoppingListContainer .itemList .itemContainer .itemText {
        width: 24em;
        font-size: 1.1em;
        margin: -.15em 0em 0em 2.5em;
        overflow: scroll; }
      .shoppingListContainer .itemList .itemContainer .itemCheckox {
        margin: 1.5em 0em 0em 2.5em;
        width: 1.4em;
        height: 1.4em; }
  footer .checkoutButton,
  footer .restartButton {
    font-size: 0.85em; }
  footer .checkoutMessage {
    font-size: 1.1em; } }
