body {
  margin: 0; }

@font-face {
  font-family: receiptFonts;
  src: url(../fonts/fake-receipt.ttf); }

.mainHeader {
  text-align: center;
  margin: 0.5em;
  font-size: 2em; }

.shoppingListContainer {
  width: 18em;
  height: 38em;
  margin: 0 auto;
  border: 1px solid black; }
  .shoppingListContainer .receipt {
    width: 100%;
    height: 100%;
    background-color: black;
    display: none;
    font-family: receiptFonts, Serif;
    color: white; }
    .shoppingListContainer .receipt .receiptHeader {
      text-align: center;
      font-size: 1.5em; }
    .shoppingListContainer .receipt .receiptTableHeaders {
      padding-left: 1em;
      width: 11em;
      height: 2em;
      text-align: left;
      font-size: 0.6em; }
    .shoppingListContainer .receipt .receiptTable td {
      padding-left: 2em;
      width: 11em;
      height: 2em;
      text-align: left;
      font-size: 0.6em; }
    .shoppingListContainer .receipt .receiptTotals {
      text-align: center;
      /* width: 25em; */
      /* height: 0em; */
      margin: 0 auto; }
    .shoppingListContainer .receipt .receiptTotals p {
      margin-top: 1em;
      font-size: 0.75em; }
  .shoppingListContainer .itemInput {
    width: 16em;
    height: 8em;
    margin: 0 auto;
    border-bottom: 1px solid black;
    font-size: 0.8em; }
    .shoppingListContainer .itemInput .inputTable {
      margin-left: -2.5em; }
    .shoppingListContainer .itemInput th {
      width: 7em;
      height: 1em; }
    .shoppingListContainer .itemInput td {
      width: 10em;
      height: 1em;
      padding-left: 1em; }
    .shoppingListContainer .itemInput input[type="text"],
    .shoppingListContainer .itemInput input[type="number"] {
      width: 6em;
      height: 1.5em;
      text-align: center; }
    .shoppingListContainer .itemInput input[type=number]::-webkit-inner-spin-button,
    .shoppingListContainer .itemInput input[type=number]::-webkit-outer-spin-button {
      -webkit-appearance: none;
      margin: 0; }
    .shoppingListContainer .itemInput .submitButton {
      margin: 1.5em 0em 0em 6em;
      width: 7em;
      height: 2em;
      border-radius: 2px;
      border: 0;
      cursor: pointer; }
    .shoppingListContainer .itemInput .maxItemMessage {
      display: none;
      text-align: center; }
  .shoppingListContainer .itemList .itemContainer {
    height: 5em;
    width: 17em;
    background-color: lightgrey;
    margin: 1em auto;
    border: lightgrey solid 1px;
    border-radius: 3px; }
    .shoppingListContainer .itemList .itemContainer .itemText {
      width: 13em;
      height: 6.5em;
      float: left;
      margin: 1em 0em 0em 2em;
      line-height: 2em;
      font-size: 0.7em;
      overflow-x: scroll; }
    .shoppingListContainer .itemList .itemContainer span {
      margin: 0em 1em 0em 0em; }
    .shoppingListContainer .itemList .itemContainer .itemCheckbox {
      float: left;
      width: 1em;
      height: 1em;
      margin: 3.25em 0em 0em 2em;
      cursor: pointer; }
    .shoppingListContainer .itemList .itemContainer .deleteButton {
      margin: 2.5em 0em 0em 0.5em;
      width: 5em;
      height: 2em;
      border-radius: 2px;
      border: 0;
      cursor: pointer;
      background-color: red;
      float: left; }

footer {
  width: 20em;
  height: 5em;
  margin: 0 auto; }
  footer .checkoutButton,
  footer .restartButton {
    margin: 2em 0em 0em 11em;
    width: 7em;
    height: 2em;
    border-radius: 2px;
    border: 0;
    cursor: pointer;
    background-color: lightgrey;
    display: none; }
  footer .restartButton {
    display: none; }
  footer .checkoutMessage {
    text-align: center; }

@media only screen and (min-width: 600px) {
  .shoppingListContainer {
    width: 34em;
    height: 33em; }
    .shoppingListContainer .itemInput {
      width: 38em; }
      .shoppingListContainer .itemInput .submitButton {
        margin: 1em 0em 0em 17.5em;
        width: 10em; }
      .shoppingListContainer .itemInput .inputTable {
        margin-left: 0.5em; }
    .shoppingListContainer .itemInput input[type="number"],
    .shoppingListContainer .itemInput input[type="text"] {
      width: 12em; }
    .shoppingListContainer .itemList .itemContainer {
      width: 29em;
      height: 4em; }
      .shoppingListContainer .itemList .itemContainer .deleteButton {
        margin: 1.75em 0em 0em 0em;
        width: 7em;
        height: 2.25em; }
      .shoppingListContainer .itemList .itemContainer .itemText {
        width: 18em;
        margin: 0em 0em 0em 2em;
        height: 3.5em;
        font-size: 1.05em; }
      .shoppingListContainer .itemList .itemContainer .itemCheckbox {
        margin: 2.5em 0em 0em 2em; }
    .shoppingListContainer .receipt .receiptHeader {
      font-size: 2.5em; }
    .shoppingListContainer .receipt .receiptTableHeaders {
      font-size: 1em;
      padding-left: 2em; }
    .shoppingListContainer .receipt .receiptTable td {
      font-size: 1em; }
    .shoppingListContainer .receipt .receiptTotals p {
      font-size: 1em; } }

@media only screen and (min-width: 950px) {
  .mainHeader {
    font-size: 3em; }
  .shoppingListContainer {
    width: 53em;
    height: 34.5em; }
    .shoppingListContainer .receipt .receiptTable {
      margin-left: 3em; }
      .shoppingListContainer .receipt .receiptTable td {
        width: 20em; }
    .shoppingListContainer .itemInput {
      width: 57em;
      height: 9.5em; }
      .shoppingListContainer .itemInput th {
        font-size: 1.4em; }
      .shoppingListContainer .itemInput .submitButton {
        margin: 1em 0em 0em 28em;
        width: 12em;
        height: 3em; }
      .shoppingListContainer .itemInput .inputTable {
        margin-left: -0.5em; }
      .shoppingListContainer .itemInput .maxItemMessage {
        font-size: 1.5em; }
    .shoppingListContainer .itemInput input[type="number"],
    .shoppingListContainer .itemInput input[type="text"] {
      width: 19em;
      height: 2em;
      margin-left: 2em; }
    .shoppingListContainer .itemList .itemContainer {
      width: 40em; }
      .shoppingListContainer .itemList .itemContainer .deleteButton {
        width: 8em;
        height: 2.5em; }
      .shoppingListContainer .itemList .itemContainer .itemText {
        width: 23em;
        font-size: 1.2em; }
    .shoppingListContainer .receipt .receiptHeader {
      font-size: 3.25em; }
    .shoppingListContainer .receipt .receiptTableHeaders {
      font-size: 1.5em;
      padding-left: 1em; }
    .shoppingListContainer .receipt .receiptTable td {
      font-size: 1em; }
    .shoppingListContainer .receipt .receiptTotals p {
      font-size: 1.5em; }
  footer {
    width: 25em;
    font-size: 1.25em; }
    footer .checkoutMessage {
      text-align: center;
      font-size: 1.25em; }
  footer .restartButton,
  footer .checkoutButton {
    margin: 3em 0em 0em 15.5em;
    width: 14em;
    height: 4em; } }
