body {
  margin: 0; }

@font-face {
  font-family: receiptFonts;
  src: url(../fonts/fake-receipt.ttf); }

.mainHeader {
  text-align: center;
  margin: 0.5em;
  font-size: 2em; }

.shoppingListContainer {
  width: 25em;
  height: 38em;
  margin: 0 auto;
  border: 1px solid black; }
  .shoppingListContainer .receipt {
    width: 100%;
    height: 100%;
    background-color: lightgreen;
    display: none;
    font-family: receiptFonts, Serif; }
    .shoppingListContainer .receipt .receiptHeader {
      text-align: center;
      font-size: 2.5em; }
    .shoppingListContainer .receipt .receiptTableHeaders {
      padding-left: 2em;
      width: 11em;
      height: 2em;
      text-align: left; }
    .shoppingListContainer .receipt .receiptTable td {
      padding-left: 2em;
      width: 11em;
      height: 2em;
      text-align: left; }
    .shoppingListContainer .receipt .receiptTotals {
      text-align: center;
      /* width: 25em; */
      /* height: 0em; */
      margin: 0 auto; }
    .shoppingListContainer .receipt .receiptTotals p {
      margin-top: 1em; }
  .shoppingListContainer .itemInput {
    width: 24em;
    height: 6em;
    margin: 0 auto;
    border-bottom: 1px solid black; }
    .shoppingListContainer .itemInput th {
      width: 7em;
      height: 1em; }
    .shoppingListContainer .itemInput td {
      width: 10em;
      height: 1em;
      padding-left: 1em; }
    .shoppingListContainer .itemInput input[type="text"],
    .shoppingListContainer .itemInput input[type="number"] {
      width: 8em;
      height: 1.5em;
      text-align: center; }
    .shoppingListContainer .itemInput input[type=number]::-webkit-inner-spin-button,
    .shoppingListContainer .itemInput input[type=number]::-webkit-outer-spin-button {
      -webkit-appearance: none;
      margin: 0; }
    .shoppingListContainer .itemInput .submitButton {
      margin: 1em 0em 0em 13.5em;
      width: 8em;
      height: 2.5em;
      border-radius: 2px;
      border: 0;
      cursor: pointer; }
    .shoppingListContainer .itemInput .maxItemMessage {
      display: none;
      text-align: center; }
  .shoppingListContainer .itemList .itemContainer {
    height: 5em;
    width: 22em;
    background-color: lightgrey;
    margin: 1em auto;
    border: lightgrey solid 1px;
    border-radius: 3px; }
    .shoppingListContainer .itemList .itemContainer .itemText {
      width: 15em;
      height: 4.5em;
      float: left;
      margin: 0.5em 0em 0em 0em;
      line-height: 2em;
      font-size: 0.9em;
      overflow-x: scroll; }
    .shoppingListContainer .itemList .itemContainer span {
      margin: 0em 1em 0em 0em; }
    .shoppingListContainer .itemList .itemContainer .itemCheckbox {
      float: left;
      width: 4em;
      height: 4em;
      margin: 1.5em 0em 0em 2em;
      cursor: pointer; }
    .shoppingListContainer .itemList .itemContainer .deleteButton {
      margin: 2.5em 0em 0em 0.5em;
      width: 5em;
      height: 2em;
      border-radius: 2px;
      border: 0;
      cursor: pointer;
      background-color: red;
      float: left; }

footer {
  width: 25em;
  height: 5em;
  margin: 0 auto; }
  footer .checkoutButton,
  footer .restartButton {
    margin: 2em 0em 0em 13.5em;
    width: 9em;
    height: 3em;
    border-radius: 2px;
    border: 0;
    cursor: pointer;
    background-color: lightgrey;
    display: none; }
  footer .restartButton {
    display: none; }
  footer .checkoutMessage {
    text-align: center; }

@media only screen and (min-width: 650px) {
  .shoppingListContainer {
    width: 38em;
    height: 33em; }
    .shoppingListContainer .itemInput {
      width: 34em; }
      .shoppingListContainer .itemInput .submitButton {
        margin: 1em 0em 0em 19.5em;
        width: 10em; }
    .shoppingListContainer .itemInput input[type="number"],
    .shoppingListContainer .itemInput input[type="text"] {
      width: 12em; }
    .shoppingListContainer .itemList .itemContainer {
      width: 29em;
      height: 4em; }
      .shoppingListContainer .itemList .itemContainer .deleteButton {
        margin: 1.75em 0em 0em 0em;
        width: 7em;
        height: 2.25em; }
      .shoppingListContainer .itemList .itemContainer .itemText {
        width: 22em;
        margin: 0.5em 0em 0em 0em;
        height: 3.5em; }
      .shoppingListContainer .itemList .itemContainer .itemCheckbox {
        margin: 1em 0em 0em 2em; } }

@media only screen and (min-width: 900px) {
  .mainHeader {
    font-size: 3em; }
  .shoppingListContainer {
    width: 48em; }
    .shoppingListContainer .receipt .receiptTable {
      margin-left: 3em; }
      .shoppingListContainer .receipt .receiptTable td {
        width: 20em; }
    .shoppingListContainer .itemInput {
      width: 42em;
      height: 7em; }
      .shoppingListContainer .itemInput th {
        font-size: 1.25em; }
      .shoppingListContainer .itemInput .submitButton {
        margin: 1em 0em 0em 25.5em;
        width: 12em;
        height: 3em; }
    .shoppingListContainer .itemInput input[type="number"],
    .shoppingListContainer .itemInput input[type="text"] {
      width: 15em;
      height: 2em;
      margin-left: 2em; }
    .shoppingListContainer .itemList .itemContainer {
      width: 36em; }
      .shoppingListContainer .itemList .itemContainer .deleteButton {
        width: 8em;
        height: 2.5em; }
      .shoppingListContainer .itemList .itemContainer .itemText {
        width: 25em;
        font-size: 1.0em; }
  footer .checkoutButton,
  footer .restartButton {
    margin: 3em 0em 0em 13em;
    width: 12em;
    height: 3em; } }
